li {
  list-style-type: none;
  font-size: 18px;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
  width: 110px;
  padding: 5px;
  background-color: rgb(162, 6, 162);
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a[href='/create'] {
  color:rgb(162, 6, 162);
}

label {
  margin-left: 7px;
}

#nav {
  height: 100%;
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 75px;
  background-color: lightblue;
}

main {
  color: rgb(162, 6, 162);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 200px;
  padding-left: 50px;
  top: 0;
  padding-top: 50px;
}

form {
  display: table;
}

p {
  display: table-row;
}

label.userForm {
  display: table-cell;
  vertical-align: top;
  text-align: right;
}

input.userForm,
textarea.userForm,
button.saveTodo {
  display: table-cell;
  margin-left: 20px;
}

#todoList {
  padding: 10px;
}

.todoItem {
  padding: 5px;
  margin: 5px;
  border: 1px solid gray;
  width: 300px;
}

.checked {
  color: gray;
  text-decoration: line-through;
}

.updateTodo:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navText {
  color: green;
}

.deleteButton {
  float: right;
}